# Python cache and bytecode files
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment folders
venv/
env/

# macOS system files
.DS_Store

# VS Code settings
.vscode/

# Raw data files
data/raw_*.csv

# Log and temporary files
*.log
*.tmp
